a-scene(background="color: black")
  a-camera(
    near="0.1"
    far="100"
    position="0 3 0"
    rotation="-90 0 0"
    wasd-controls-enabled="true"
    look-controls-enabled="false"
    wasd-controls="acceleration: 10")

  a-box(color="red" position="-1 0 0")
  a-box(color="purple" position="0 0 0")
  a-box(color="blue" position="1 0 0")
